.toggle.btn {
	margin-left: 20px;
}
.toggle-on,
.toggle-off,
.toggle-group {
	cursor: pointer;
}
#googleMap {
	width: 100%;
	height: 600px;
}
.bgcustom1 .card {
	background: #4e73df;
	color: #fff;
}
.bgcustom2 .card {
	background: #1cc88a;
	color: #fff;
}
.bgcustom3 .card {
	background: #36b9cc;
	color: #fff;
}
.bgcustom4 .card {
	background: #f6c23e;
	color: #fff;
}
.bgcustom1 .card .font-weight-bold,
.bgcustom2 .card .font-weight-bold,
.bgcustom3 .card .font-weight-bold,
.bgcustom4 .card .font-weight-bold {
	color: #fff !important;
}
@media screen and (max-width: 767.9px) {
	.container, 
	.container-fluid {
		padding-left: 10px;
		padding-right: 10px;
	}
	.card-body {
		padding: 10px;
	}
	#chartIndex {
		min-width: auto !important;
	}
	.sidebar .nav-item .nav-link {
		padding: 10px 5px;
	}
	.style_sttl,
	.style_btn {
		display: inline-block;
		vertical-align: middle;
	}
	.h3, 
	h3 {
		font-size: 1.5rem;
	}
	#googleMap {
		height: 300px;
	}
}
@media (min-width: 768px) {
	.sidebar-toggled .sidebar.toggled {
    width: 3rem!important;
	}
	.sidebar-toggled .sidebar #sidebarToggle {
		width: 2rem;
		height: 2rem;
		margin: 0px;
	}
	.sidebar.toggled .nav-item .nav-link {
		width: 3rem;
	}
	.sidebar.toggled .nav-item .nav-link {
		padding: 10px 5px;
	}
	.sidebar.toggled .nav-item .nav-link span {
		font-size: 0px;
	}
	.sidebar.toggled .nav-item .nav-link i {
		font-size: 1.3rem;
	}
}