﻿@using Website.Models
@model UserAccLogin
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Website - Đăng nhập</title>
    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                    </div>
                                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "user", role = "form" }))
                                    {   
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)
                                        if (@ViewBag.Message != null)
                                        {
                                            <div style="border: 1px solid red; color: orangered">
                                                @ViewBag.Message
                                            </div>
                                        }
                                        <div class="form-group">
                                            @*<input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Địa chỉ email">*@
                                            @Html.TextBoxFor(m => m.Name, new { placeholder = "Tên đăng nhập", @class = "form-control form-control-user", autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @*<input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Mật khẩu">*@
                                            @Html.PasswordFor(m => m.Pass, new { placeholder = "Mật khẩu", @class = "form-control form-control-user", autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.Pass, "", new { @class = "text-danger" })
                                        </div>
                                        @*<div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Ghi nhớ</label>
                                            </div>
                                        </div>*@
                                            <input type="submit" value="Đăng nhập" class="btn btn-primary btn-user btn-block" />
                                    }
                                    <hr>
                                    @*<div class="text-center">
                                        <a class="small" href="forgot-password.html">Quên mật khẩu?</a>
                                    </div>*@
                                    <div class="text-center">
                                        <a class="small" href="@Url.Action("Register", "Account")">Tạo tài khoản mới!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin-2.min.js"></script>
</body>
</html>
