﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Trang chủ";
}

<style>
    #chartIndex {
        min-width: 310px;
        height: 600px;
        margin: 0 auto;
    }
    .value_modal {
        position: absolute;
        top: 100%;
        right: 0px;
        background: #fff;
        padding: 10px;
        display: none;
        z-index: 999;
        left: 0px;
        border-radius: 5px;
        transition: 0.3s all ease-in-out;
	}
    .value_modal.showmodal {
        display: flex;
    }
    .close_modal {
		position: absolute;
        background: #fff;
        border-radius: 100%;
        cursor: pointer;
        font-size: 20px;
        height: 20px;
        margin-bottom: 0px;
        right: -16px;
        top: -18px;
        width: 20px;
	}
	.value_modalbox {
		position: relative;
	}
	.value_modal .fa-save {
		position: absolute;
		top: 50%;
		right: 7px; 
		transform: translateY(-50%);
        z-index: 1;
	}
	.value_modalbox input {
		padding-right: 30px;
	}
    .btnactive {
		color: #4e73df !important;
	}
</style>
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center mb-4">
                <h1 class="h3 mb-0 text-gray-800 style_sttl">Khởi động hệ thống</h1>
				<div class="form-group mb-0 style_btn ml-2">
                    @*@Html.CheckBox("checkbox", new { @class = "form-control", data_toggle = "toggle", runat = "server", id = "button1" })*@
                    <button class="btn btn-success btn-on-off mr-1" value="on">Start</button>
                    <button class="btn btn-danger btn-on-off"  value="off">Stop</button>
                </div>
            </div>
            <!-- Content Row -->
            <div class="row">
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4 bgcustom1">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body js_showvalue">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">Nhiệt độ 1</div>
                                    @*@if (ViewBag.HienThi != null)
                                    {
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.HienThi.Tag1</div>
                                    }*@
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="tag1"></span></div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa fa-caret-down fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                        <label class="row value_modal no-gutters align-items-center shadow js_field">
                            <span class="col-12 value_modalbox">
                                <input class="form-control js_input" name="" placeholder="Nhập giá trị" type="number" value="" id="txtTag1">
                                <i class="fas fa-save fa-2x text-gray-300 setTag" id="setTag1"></i>
                                <i class="far fa-times-circle close_modal text-gray-300 js_close">
                                </i>
                            </span>
                        </label>
                    </div>
                </div>
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4 bgcustom2">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body js_showvalue">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">Độ ẩm 1</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="tag2"></span></div>
                                    @*@if (ViewBag.HienThi != null)
                                    {
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.HienThi.Tag2</div>
                                    }*@
                                </div>
                                <div class="col-auto">
                                    <i class="fa fa-caret-down fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                        <label class="row value_modal no-gutters align-items-center shadow js_field">
                            <span class="col-12 value_modalbox">
                                <input class="form-control js_input" name="" placeholder="Nhập giá trị" type="number" value="" id="txtTag2">
                                <i class="fas fa-save fa-2x text-gray-300 setTag" id="setTag2"></i>
                                <i class="far fa-times-circle close_modal text-gray-300 js_close"></i>
                            </span>
                        </label>
                    </div>
                </div>
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4 bgcustom3">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body js_showvalue">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">Nhiệt độ 2</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="tag3"></span></div>
                                    @*@if (ViewBag.HienThi != null)
                                    {
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.HienThi.Tag3</div>
                                    }*@
                                </div>
                                <div class="col-auto">
                                    <i class="fa fa-caret-down fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                        <!-- <label class="row value_modal no-gutters align-items-center shadow js_field">
                            <span class="col-12 value_modalbox">
                                <input class="form-control js_input" name="" placeholder="Nhập giá trị" type="text" value="">
                                <i class="fas fa-save fa-2x text-gray-300"></i>
                                <i class="far fa-times-circle close_modal text-gray-300 js_close"></i>
                            </span>
                        </label> -->
                    </div>
                </div>
                <!-- Pending Requests Card Example -->
                <div class="col-xl-3 col-md-6 mb-4 bgcustom4">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body js_showvalue">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">Độ ẩm 2</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="tag4"></span></div>
                                    @*@if (ViewBag.HienThi != null)
                                    {
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.HienThi.Tag4</div>
                                    }*@
                                </div>
                                <div class="col-auto">
                                    <i class="fa fa-caret-down fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                         <!-- <label class="row value_modal no-gutters align-items-center shadow js_field">
                            <span class="col-12 value_modalbox">
                                <input class="form-control js_input" name="" placeholder="Nhập giá trị" type="text" value="">
                                <i class="fas fa-save fa-2x text-gray-300"></i>
                                <i class="far fa-times-circle close_modal text-gray-300 js_close"></i>
                            </span>
                        </label> -->
                    </div>
                </div>
            </div>
            <!-- Content Row -->
            <div class="row">
                <!-- Area Chart -->
                <div class="col-xl-12 col-lg-7">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        @*<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Dropdown Header:</div>
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>*@
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area" id="chartIndex">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
</div>
<!-- End of Content Wrapper -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.js_showvalue').click(function() {
            $(this).parent().find('.js_field').toggleClass('showmodal');
        });
        $('.js_close').click(function() {
            $(this).parent().parent().removeClass('showmodal');
        });
        $('.js_input').bind("change keydown keyup",function(){
            if ($(this).val() != "") {
                $(this).parent().find('.fa-save').addClass('btnactive');
            } else {
                $(this).parent().find('.fa-save').removeClass('btnactive');
            }
        });

        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        setInterval(getHienThi, 1000);
        //getHienThi();
    });

    //Cập nhật trạng thái button
    $('.btn-on-off').click(function() {
        //var value = $(this).val();
        //if(this.clicked) {
        
        if($(this).val() == "on"){
            var returnVal = confirm("Bật hệ thống ?");
            $(this).prop("checked", returnVal);
        }
        else{
            var returnVal = confirm("Tắt hệ thống ?");
            $(this).prop("checked", returnVal);
        }
            //$(this).prop("checked", returnVal);
        var value = $(this).val();
        //}
        $.ajax({
            type: "POST",
            url: "/Caidat/UpdateThongSo",
            data: {
                state: value
            }
        }); 
    });

    //Cập nhật tag1 và tag2
    $(".setTag").click(function () {
        var tag1 = $("#txtTag1").val();
        var tag2 = $("#txtTag2").val();
        $.ajax({
            url: "/Caidat/UpdateThongSo",
            method: "Post",
            data: {
                tag1: tag1,
                tag2: tag2
            }
        }).done(function(){
            if(tag1 != ""){
                alert("Update tag 1 thành công!");
            }
            else if(tag2 != ""){
                alert("Update tag 2 thành công!");
            }
            //else{
            //    alert("Update tag 2 thành công!");
            //}
            $("#txtTag1").val("");
            $("#txtTag2").val("");
        }).fail(function () {
            alert("Update Error");
        });
    });

    function delimitNumbers(str) {
        return (str + "").replace(/\b(\d+)((\.\d+)*)\b/g, function(a, b, c) {
            return (b.charAt(0) > 0 && !(c || ".").lastIndexOf(".") ? b.replace(/(\d)(?=(\d{3})+$)/g, "$1,") : b) + c;
        });
    }

    function getHienThi() {
        $.ajax({
            url: '/Home/GetHienThi/',
            type: 'get',
            async: false,
            success: function (data) {
                $('#tag1').html(delimitNumbers(data.Tag1));
                $('#tag2').html(delimitNumbers(data.Tag2));
                $('#tag3').html(delimitNumbers(data.Tag3));
                $('#tag4').html(delimitNumbers(data.Tag4));
            },
            error: function (xhr, ajaxOptions, thrownError) {
                var errorMsg = 'Ajax request failed: ' + xhr.responseText;
                $('#content').html(errorMsg);
            }
        });
    }

    function initData() {
        var data = [];
        var time = Date.now();
        for (var i = -19; i <= 0; i += 1) {
            data.push({ x: time + i * 1000, y: 0 });
        }
        return data;
    }

    function getChartData() {
        var dataChart = @Html.Raw(Json.Encode(ViewBag.Recoder));
        $.ajax({
            url: '/Home/GetChartData/',
            type: 'get',
            async: false,
            success: function (data) {
                dataChart = data;
                //console.log(dataChart);
                //return dataChart;
              
            },
            error: function (xhr, ajaxOptions, thrownError) {
                var errorMsg = 'Ajax request failed: ' + xhr.responseText;
                $('#content').html(errorMsg);
            }
        });
        return dataChart;
    }

    chart = Highcharts.chart('chartIndex', {
        chart: {
            type: 'spline',
            animation: { duration: 500 }, //false,
			height: 400,
            events: {
                load: function () {
                    var series = this.series;
                    var len = series.length;
                    setInterval(function (chartData) {
                        var chartData = getChartData();
                        var time = parseInt(chartData.Thoigian.replace("/Date(", "").replace(")/", ""));
                        var t = Date.now();
                        for (var j = 0; j < len; j++) {
                            //series[j].addPoint([t, parseInt(window["chartData.Tag"+j])], false, true);
                            switch (j) {
                                case 0:
                                    {
                                        series[j].addPoint([t, parseInt(chartData.Tag_1)], false, true);
                                        break;
                                    }
                                case 1:
                                    {
                                        series[j].addPoint([t, parseInt(chartData.Tag_2)], false, true);
                                        break;
                                    }
                                case 2:
                                    {
                                        series[j].addPoint([t, parseInt(chartData.Tag_3)], false, true);
                                        break;
                                    }
                                case 3:
                                    {
                                        series[j].addPoint([t, parseInt(chartData.Tag_4)], false, true);
                                        break;
                                    }
                            }
                        }
                        chart.redraw();
                    }, 1000);
                }
            }
        },
        title: { text: 'Giá trị online' },
        xAxis: { type: 'datetime', tickPixelInterval: 150 },
        yAxis: { title: { text: 'Value' }, plotLines: [{ value: 0, width: 1, color: '#808080' }] },
        legend: { enabled: true },
        credits: { enabled: false },
        exporting: { enabled: false },
        series:
        [
          { name: 'Nhiệt độ 1', data: initData(), color: '#4e73df'},
          { name: 'Độ ẩm 1', data: initData(), color: '#1cc88a' },
          { name: 'Nhiệt độ 2', data: initData(), color: '#36b9cc' },
          { name: 'Độ ẩm 2', data: initData(), color: '#f6c23e' }
        ]
    });

</script>
