﻿@model PagedList.IPagedList<Website.Models.recoder>
@*@model PagedList.IPagedList<DammioMVC1.Models.Link>*@
@using PagedList.Mvc;
@section Styles
{
    @Styles.Render("~/Content/vendor/datatables/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/css/pagedList.css")
   <link href="~/scripts/jquery-ui.min.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "TableList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var recoders = Session["recoders"];
    var fromDate = (DateTime)ViewBag.fromDate;
    var toDate = (DateTime)ViewBag.toDate;
}


<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Thống kê báo cáo</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div id="dataTable_filter" class="dataTables_filter">
                                @using (Html.BeginForm("TableList", "Home", FormMethod.Get, new { @class = "", role = "form" }))
                                {
                                    <label>
                                        Từ ngày: @Html.TextBox("fromDate", string.Format("{0:dd/MM/yyyy}", fromDate), new { placeholder = "dd/mm/yyyy", @class = "form-control", type = "date", id = "fromDate", autocomplete = "off" })
                                    </label>
                                    <label class="ml-2">
                                        Đến ngày:@Html.TextBox("toDate", string.Format("{0:dd/MM/yyyy}", toDate), new { placeholder = "dd/mm/yyyy", @class = "form-control", type = "date", id = "toDate", autocomplete = "off" })
                                    </label>
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                }  
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            @using (Html.BeginForm("ExportToExcel", "Home", FormMethod.Post, new { @class = "", role = "form" }))
                            {
                                <input type="submit" value="Xuất Excel" class="button" />
                            }
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" id="dataTable" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Thời gian</th>
                                        <th>Nhiệt độ 1</th>
                                        <th>Độ ẩm 1</th>
                                        <th>Nhiệt độ 2</th>
                                        <th>Độ ẩm 2</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int rowNo = 0;}
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@(rowNo += 1)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Thoigian)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Tag_1)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Tag_2)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Tag_3)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Tag_4)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- Thêm mã phân trang -->
                            <br />
                            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

                            @Html.PagedListPager(Model, page => Url.Action("TableList", "Home",new { page }))
                            <!-- Kết thúc -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/scripts/jquery-1.12.4.min.js"></script>
    <script src="~/scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript">
        //$(function () {
        //    // This should targe the element generated by your EditorFor() Helper 
        //    $('#fromDate, #toDate').datepicker(
        //    {
        //        showOn: 'button',
        //        buttonImageOnly: true,
        //        buttonImage: '/Content/img/Calendar_selection_week_Icon_32.png',
        //        dateFormat: 'yy-mm-dd'
        //    });
        //})
    </script>
}

