﻿
@{
    ViewBag.Title = "Trang2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #chartIndex {
        min-width: 310px;
        height: 600px;
        margin: 0 auto;
    }
    .gm-style-iw.gm-style-iw-c {
        max-width: 250px !important;
    }
</style>
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Giá trị online</h1>
            </div>
            <!-- Content Row -->
            <div class="row">
                <!-- Area Chart -->
                <div class="col-xl-6 col-lg-12">
                    <div class="card shadow mb-4">
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area" id="chartIndex"></div>
                        </div>
                    </div>
                </div>

                <!-- Chart Tag 1 -->
                <div class="col-xl-3 col-lg-6">
                    <div class="card shadow mb-4">
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area" id="chartTag1"></div>
                        </div>
                    </div>
                    <div class="card shadow mb-4">
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area" id="chartTag3"></div>
                        </div>
                    </div>
                </div>
                <!-- Chart Tag 2 -->
                <div class="col-xl-3 col-lg-6">
                    <div class="card shadow mb-4">
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area" id="chartTag2"></div>
                        </div>
                    </div>
                    <div class="card shadow mb-4">
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area" id="chartTag4"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Xem bản đồ vệ tinh</h1>
            </div>
            <div id="googleMap"></div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
</div>
<!-- End of Content Wrapper -->

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>

<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB7NmZ6WaEq85vbEYyENiJ7veNMiZ029w"></script>
<script type="text/javascript">
    var markers = @Html.Raw(ViewBag.Markers);
    if(markers.length > 0){
        window.onload = function () {
            var mapOptions = {
                center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
                zoom: 17,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var infoWindow = new google.maps.InfoWindow();
            var map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);

            for (i = 0; i < markers.length; i++) {
                var data = markers[i]
                var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: data.title
                });
                (function (marker, data) {
                    var content = "";
                    
                    if(data.position == 1){
                        content += "<h5 style='color:#4e73df'>" + data.title + "</h5>";
                        content += "<span style='color:#4e73df; font-weight:bold'>" + data.description + "</span><br/>";
                        content += "<label style='color:#4e73df'>Nhiệt độ 1: " + data.tag1 +"</label>";
                        var infoWindow = new google.maps.InfoWindow();
                        infoWindow.setContent(content);
                        infoWindow.open(map, marker);
                    }
                    else if(data.position == 2){
                        content += "<h5 style='color:#1cc88a'>" + data.title + "</h5>";
                        content += "<span style='color:#1cc88a; font-weight:bold'>" + data.description + "</span><br/>";
                        content += "<label style='color:#1cc88a'>Độ ẩm 1: " + data.tag2 +"</label>";
                        var infoWindow = new google.maps.InfoWindow();
                        infoWindow.setContent(content);
                        infoWindow.open(map, marker);
                    }
                    else if(data.position == 3){
                        content += "<h5 style='color:#36b9cc'>" + data.title + "</h5>";
                        content += "<span style='color:#36b9cc; font-weight:bold'>" + data.description + "</span><br/>";
                        content += "<label style='color:#36b9cc'>Nhiệt độ 2: " + data.tag3 +"</label>";
                        var infoWindow = new google.maps.InfoWindow();
                        infoWindow.setContent(content);
                        infoWindow.open(map, marker);;
                    }
                    else{
                        content += "<h5 style='color:#f6c23e'>" + data.title + "</h5>";
                        content += "<span style='color:#f6c23e; font-weight:bold'>" + data.description + "</span><br/>";
                        content += "<label style='color:#f6c23e'>Độ ẩm 2: " + data.tag4 +"</label>";
                        var infoWindow = new google.maps.InfoWindow();
                        infoWindow.setContent(content);
                        infoWindow.open(map, marker);
                    }

                    google.maps.event.addListener(marker, "click", function (e) {
                        infoWindow.setContent(content);
                        infoWindow.open(map, marker);
                    });
                })(marker, data);
            }
        }
    }

</script>
<script type="text/javascript">
    $(document).ready(function () {
        //Perform Ajax request.
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });
    });

    function getHienThi() {
        var dataChartTag = @Html.Raw(Json.Encode(ViewBag.Hienthi));
        $.ajax({
            url: '/Home/GetHienThi/',
            type: 'get',
            async: false,
            success: function (data) {
                //$('#tag1').html(data.Tag1);
                //$('#tag2').html(data.Tag2);
                //$('#tag3').html(data.Tag3);
                //$('#tag4').html(data.Tag4);
                dataChartTag = data;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                var errorMsg = 'Ajax request failed: ' + xhr.responseText;
                $('#content').html(errorMsg);
            }
        });
        return dataChartTag;
    }

    function initData() {
        var data = [];
        var time = Date.now();
        for (var i = -19; i <= 0; i += 1) {
            data.push({ x: time + i * 1000, y: 0 });
        }
        return data;
    }

    function getChartData() {
        var dataChart = @Html.Raw(Json.Encode(ViewBag.Recoder));
        $.ajax({
            url: '/Home/GetChartData/',
            type: 'get',
            async: false,
            success: function (data) {
                dataChart = data;
                //console.log(dataChart);
                //return dataChart;

            },
            error: function (xhr, ajaxOptions, thrownError) {
                var errorMsg = 'Ajax request failed: ' + xhr.responseText;
                $('#content').html(errorMsg);
            }
        });
        return dataChart;
    }

    chart = Highcharts.chart('chartIndex', {
        chart: {
            type: 'spline',
            animation: { duration: 500 },
			height: 500,
            events: {
                load: function () {
                    var series = this.series;
                    var len = series.length;
                    setInterval(function (chartData) {
                        var chartData = getChartData();
                        var time = parseInt(chartData.Thoigian.replace("/Date(", "").replace(")/", ""));
                        var t = Date.now();
                        for (var j = 0; j < len; j++) {
                            switch (j) {
                                case 0:
                                    {
                                        series[j].addPoint([t, parseInt(chartData.Tag_1)], false, true);
                                        break;
                                    }
                                case 1:
                                    {
                                        series[j].addPoint([t, parseInt(chartData.Tag_2)], false, true);
                                        break;
                                    }
                                case 2:
                                    {
                                        series[j].addPoint([t, parseInt(chartData.Tag_3)], false, true);
                                        break;
                                    }
                                case 3:
                                    {
                                        series[j].addPoint([t, parseInt(chartData.Tag_4)], false, true);
                                        break;
                                    }
                            }
                        }
                        chart.redraw();
                    }, 1000);
                }
            }
        },
        title: { text: 'Giá trị online' },
        xAxis: { type: 'datetime', tickPixelInterval: 150 },
        yAxis: { title: { text: 'Value' }, plotLines: [{ value: 0, width: 1, color: '#808080' }] },
        legend: { enabled: true },
        credits: { enabled: false },
        exporting: { enabled: false },
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        align: 'center',
                        verticalAlign: 'bottom',
                        layout: 'horizontal'
                    },
                    yAxis: {
                        labels: {
                            align: 'left',
                            x: 0,
                            y: -5
                        },
                        title: {
                            text: null
                        }
                    },
                    subtitle: {
                        text: null
                    },
                    credits: {
                        enabled: false
                    }
                }
            }]
        },
        series:
        [
          { name: 'Nhiệt độ 1', data: initData(), color: '#4e73df' },
          { name: 'Độ ẩm 1', data: initData(), color: '#1cc88a' },
          { name: 'Nhiệt độ 2', data: initData(), color: '#36b9cc' },
          { name: 'Độ ẩm 2', data: initData(), color: '#f6c23e' }
        ]
    });

    var gaugeOptions = {
        chart: {
            type: 'solidgauge'
        },
        title: null,
        pane: {
            center: ['50%', '60%'],
            size: '100%',
            startAngle: -90,
            endAngle: 90,
            background: {
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#eee',
                innerRadius: '60%',
                outerRadius: '100%',
                shape: 'arc'
            }
        },
        tooltip: {
            enabled: false
        },
        exporting: { enabled: false },
        // the value axis
        yAxis: {
            stops: [
                [0.1, '#55bf3b'], // green
                [0.5, '#dddf0d'], // yellow
                [0.9, '#df5353'] // red
            ],
            lineWidth: 0,
            minorTickInterval: null,
            tickAmount: 2,
            title: {
                y: -75,
                fontWeight: 'bold',
                fontSize: '25px'
            },
            labels: {
                y: 16
            }
        },
        plotOptions: {
            solidgauge: {
                dataLabels: {
                    y: 5,
                    borderWidth: 0,
                    useHTML: true
                }
            }
        }
    };

    var chartTag1 = Highcharts.chart('chartTag1', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 200,
            title: {
                text: 'Nhiệt độ 1'
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Speed',
            data: [80],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' '
            }
        }]
    }));

    var chartTag2 = Highcharts.chart('chartTag2', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 200,
            title: {
                text: 'Độ ẩm 1'
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Speed',
            data: [80],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]
    }));

    var chartTag3 = Highcharts.chart('chartTag3', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 200,
            title: {
                text: 'Nhiệt độ 2'
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Speed',
            data: [80],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' '
            }
        }]
    }));

    var chartTag4 = Highcharts.chart('chartTag4', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 200,
            title: {
                text: 'Độ ẩm 2'
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Speed',
            data: [80],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver"></span></div>'
            },
            tooltip: {
                valueSuffix: ' '
            }
        }]
    }));
    setInterval(function () {
        // Speed
        var point,
            newVal,
            chartDataTag = getHienThi();
        if (chartTag1) {
            point = chartTag1.series[0].points[0];
            newVal = chartDataTag.Tag1 ? parseInt(chartDataTag.Tag1) : 0;

            if (newVal < 0 || newVal > 200) {
                newVal = chartDataTag.Tag1 ? parseInt(chartDataTag.Tag1) : 0;
            }

            point.update(newVal);
        }
        if (chartTag2) {
            point = chartTag2.series[0].points[0];
            newVal = chartDataTag.Tag2 ? parseInt(chartDataTag.Tag2) : 0;

            if (newVal < 0 || newVal > 200) {
                newVal = chartDataTag.Tag2 ? parseInt(chartDataTag.Tag2) : 0;
            }

            point.update(newVal);
        }
        //if (chartTag2) {
        //    point = chartTag2.series[0].points[0];
        //    newVal = chartDataTag.Tag3 ? parseInt(chartDataTag.Tag3) : 0;

        //    if (newVal < 0 || newVal > 200) {
        //        newVal = chartDataTag.Tag3 ? parseInt(chartDataTag.Tag3) : 0;
        //    }

        //    point.update(newVal);
        //}
        if (chartTag3) {
            point = chartTag3.series[0].points[0];
            newVal = chartDataTag.Tag3 ? parseInt(chartDataTag.Tag3) : 0;

            if (newVal < 0 || newVal > 200) {
                newVal = chartDataTag.Tag3 ? parseInt(chartDataTag.Tag3) : 0;
            }

            point.update(newVal);
        }
        if (chartTag4) {
            point = chartTag4.series[0].points[0];
            newVal = chartDataTag.Tag4 ? parseInt(chartDataTag.Tag4) : 0;

            if (newVal < 0 || newVal > 200) {
                newVal = chartDataTag.Tag4 ? parseInt(chartDataTag.Tag4) : 0;
            }

            point.update(newVal);
        }
    }, 1000);

    // Map
</script>
