﻿@using Website.Models
@model Location
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
{
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
}

@{
    var positionList = new SelectList(
        new List<SelectListItem>
        {
            new SelectListItem {Text = "1", Value = "1"},
            new SelectListItem {Text = "2", Value = "2"},
            new SelectListItem {Text = "3", Value = "3"},
            new SelectListItem {Text = "4", Value = "4"},
        }, "Value", "Text");
}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Locations</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="box box-primary">
                @using (Html.BeginForm("Create", "Location", FormMethod.Post, new { @class = "", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    if (@ViewBag.Message != null)
                    {
                        <div style="border: 1px solid red; color: orangered">
                            @ViewBag.Message
                        </div>
                    }
                    <div class="box-body">
                        <div class="form-group">
                            <label>Tên địa điểm</label>
                            @Html.TextBoxFor(m => m.Name, new { placeholder = "", @class = "form-control", autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Vĩ độ</label>
                            @Html.TextBoxFor(m => m.Latitude, new { placeholder = "", @class = "form-control", autocomplete = "off", type = "Integer" })
                            @Html.ValidationMessageFor(m => m.Latitude, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Kinh độ</label>
                            @Html.TextBoxFor(m => m.Longitude, new { placeholder = "", @class = "form-control", autocomplete = "off", type = "Integer" })
                            @Html.ValidationMessageFor(m => m.Longitude, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Thứ tự</label>
                            @Html.DropDownListFor(m => m.Position, positionList, "Chọn thứ tự", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Position, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Mô tả</label>
                            @Html.TextBoxFor(m => m.Description, new { placeholder = "", @class = "form-control", autocomplete = "off", type = "Integer" })
                            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
}

